*{margin:0;
padding:0
}

body{
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    Font-weight:bold;
    background-color:black;
}

.container{
    max-width:1180px;
    padding:20px;
    margin:0 auto;
    background-color:#b3ff66;
   
}

nav li:hover ul{
    display:block;
}

h1{
  text-align:center;
    margin: 2em 0;
    padding:50px;
}


/* *** the following styles apply to viewports larger than 768px  ** */

@media (min-width:768px){
  #main-menu{
  display:block; 
  }
  .toggle-menu{
      display:none;
  }
    
  #main-menu li{
      display:inline-block;
  }
 
#main-menu li li{ /* selects the dropdown menu items that are nested inside another li */
    display:block;
}
    
      
  
 img {
    width: 100%;
    height: auto;
    padding:150px;
}
body { 
	background-color:black;
	text-align:center;

}




em {
	font-style:bold;
}

 strong{
 font-style:bold;

}

 h1, h2, h3, h4, h5 {
  font-family:proxima-nova,sans-serif;
  font-style:normal;
}

h3 {
 text-transform:capitalize;
 font-size:2em;
 padding:0 0 1% 0;
 color:purple;
 font-weight:800;
}

  header {
	background-color:purple;
	width:100%;
}

  .intro {
  max-width:960px;
  margin;0 auto;
  padding:8% 0;
}


  .intro h1 {
  font-size:6em;
  text-align:center;
  color:pink;
  text-transform:uppercase;
  letter-spacing:0.1em;
  font-weight:800;
  line-height:3em;
  margin:50px;
}

  .intro h2 {
  font-size:2em;
  text-align:center;
  color:white;
  font-weight:300;
  text-transform:capitalize;
  letter-spacing:0.09em;
}

   .wrapper {
   max-width:960px;
   margin:0 auto;
   font-family:proxima-nova, sans-serif;
}

   .about {
   padding:4% 0;
}



   .about p {
   font-family:proxima-nova,sans-serif;
   font-style:normal;
   font-weight:300;
   line-height;1.8;
   color:pink;
   letter-spacing:.03em;
   margin:30px auto;
   font-size:1.5 em;
	padding:2% 0;
}


	p{
	color:black;
	background-color:white opacity:70%;
	font-size:1.8em;
	
}

   .about p a {
   color:purple;
   border-bottom:2px solid;
}

    .work {
    height:300px;
    padding:2% 0;
}

    .work h3 {
	padding:4% 0;
}

    .text-box {
    float:left;
    text-align:left;
    width:480px;
    height:100%;
}

    .text-box-content {
    padding:4% 8%;
}

    .text-box-content p {
    line-height:1.8;
    color:white;
    letter-spacing:.03em;
    font-size:1em;
}


img {
    width: 100%;
    height: auto;
    padding:150px;
    border: solid;
    border-color:purple;
}

 h6{
  text-transform:capitalize;
 font-size:1.5em;
 padding:0 0 1% 0;
 color:pink;
 font-weight:800;
}
   .left {
   float:left;
}

   .right {
   float: right;
}

   .contact {
   width: 100%;
   background-color: purple;
   padding:5% 0;
   margin-top:5%;   
   clear:both;
}

.contact-content {
	max-width:960px;
	margin:0 auto;
	text-align:center;
}

.contact-content h4 {
	font-size:1.875em;
	padding:1% 0;
	color:black;
	font-weight:600;
	letter-spacing:0.04em;
}

.contact-content a {
	color:white;
	text-decoration:none;
}

.image-divider {
	padding:5% 0;
	background-position:center top;
}

footer {
	background-color: purple;
	color:pink;
	padding:2% 0;
	width:100%;
	clear:both;
	height:100px;
}

.footer-content {
	max-width:960px;
	padding:2% 0;
	margin:0 auto;
	font-family:proxima-nova,sans-serif;
	font-style:normal;
	font-weight:300;
	line-height:1.4;
	color:gray;
	letter-spacing;.03em;
	font-size:1em;
}

.credit {
float:left;
}

.social {
float:right;
}

.social li {
display:inline;
}

.social li a {
color:pink;
padding:0.2em;
font-size:1.8em;
font-weigth:600;
}

.social li a:hover {
color:yellow;
}
      
  #content{
      width:75%;
      float:left;
  }
#sidebar{
    width:20%;
    float:left;
    padding: 20px;
}
} /* closes the media query */
